@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */
/* Colors */
/* Breakpoints for RWD */
/* Animation */
body {
  width: 100vw;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.968627451);
  font-size: 10px;
  font-family: "Baumans", cursive;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.mobileOpenMenu,
.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.3rem;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 0.9rem;
}

.menu {
  width: 1rem;
  height: 1rem;
  border: 1px solid white;
  border-radius: 0.3rem;
}

.menuPart1,
.menuPart4 {
  box-shadow: rgba(240, 4, 240, 0.2705882353) -1.5px 0px 0px 1px, rgba(255, 255, 255, 0.793) 1px 1px 0px 1px;
}

.mobileCloseMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.closeIcon {
  position: absolute;
  width: 1.5rem;
  border-radius: 0.2rem;
  border: 3px solid #ffffff;
}

.closeMenuPart1 {
  rotate: 45deg;
  box-shadow: rgba(240, 4, 240, 0.2705882353) 3px -0.5px 0px 1px, rgba(255, 255, 255, 0.793) -3px 0.5px 0px 1px;
}

.closeMenuPart2 {
  rotate: -45deg;
}

.navList {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: rgba(240, 4, 240, 0.2509803922) 0px 1px 3px 1.5px, rgba(255, 255, 255, 0.793) 0px 1px 3px 1.5px, rgb(15, 3, 68) 3px 0px 5px 1.5px;
  rotate: 45deg;
}

.navList a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  rotate: 315deg;
  color: #f3f1d3;
  text-decoration: none;
}

.home {
  animation-name: home;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.codeCrafts {
  animation-name: codeCrafts;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
}

.myStory {
  animation-name: myStory;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}

.mySkills {
  animation-name: mySkills;
  animation-duration: 1.9s;
  animation-fill-mode: forwards;
}

.quickContact {
  animation-name: quickContact;
  animation-duration: 2.1s;
  animation-fill-mode: forwards;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  position: relative;
  margin-left: 5rem;
  font-size: calc(0.5rem + 2vw);
  color: pink;
  letter-spacing: 0.3rem;
  line-height: calc(0.7rem + 2vw);
  box-shadow: rgba(240, 4, 240, 0.2509803922) 0px 1px 3px 1.5px, rgba(255, 255, 255, 0.793) 0px 1px 3px 1.5px, rgb(15, 3, 68) 3px 0px 5px 1.5px;
  animation: title forwards 1s;
  z-index: -1;
}

.fullName::first-letter {
  font-size: 2.5rem;
  color: rgba(192, 57, 199, 0.795);
  opacity: 0.8;
}

.profession {
  margin-left: 0.2rem;
}

.developer {
  display: flex;
  justify-content: end;
  color: rgba(192, 57, 199, 0.795);
}

.myStorySection {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: 100vw;
  height: 25rem;
  z-index: -1;
}

.titleMyStory {
  font-family: "Indie Flower", cursive;
  color: white;
  font-size: 2.4em;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.aboutMe {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 92vw;
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  color: white;
  font-size: 0.8rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  border-radius: 0.8rem;
}

.social-media {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-self: center;
  width: 90vw;
  margin-top: 1.5rem;
}

.socialBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  box-shadow: rgba(240, 4, 240, 0.2705882353) 1px -0.5px 0px 1px, rgba(255, 255, 255, 0.793) -1px 0.5px 0px 1px;
  box-shadow: rgba(240, 4, 240, 0.2509803922) 0px 1px 3px 0.5px, rgba(255, 255, 255, 0.793) 0px 1px 3px 0.5px, rgb(15, 3, 68) 3px 0px 5px 0.5px;
  border-radius: 0.5rem;
}

.social-media img {
  width: 2rem;
}

.linkedin img {
  width: 1.6rem;
}

.displayNone {
  display: none;
}

.visibilityHidden {
  visibility: hidden;
}

@keyframes title {
  0% {
    transform: translateX(22rem);
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateX(0.4rem);
  }
}
@keyframes home {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0.4rem);
  }
}
@keyframes myStory {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(5rem) translateY(2rem);
  }
}
@keyframes codeCrafts {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(5rem) translateY(-3rem);
  }
}
@keyframes mySkills {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(10rem) translateY(-1rem);
    animation-play-state: paused;
  }
}
@keyframes quickContact {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(15rem) translateY(-2rem);
    animation-play-state: paused;
  }
}

/*# sourceMappingURL=style.css.map */
