@keyframes title {
    0% {
        transform: translateX(22rem);
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        transform: translateX(.4rem);
    }
}

@keyframes home {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    25% {}

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(.4rem);
    }
}

@keyframes myStory {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    25% {}

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(5rem) translateY(2rem);
    }
}

@keyframes codeCrafts {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    25% {}

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(5rem) translateY(-3rem);
    }
}

@keyframes mySkills {
    0% {
        transform: translateX(0);
        opacity: 0;


    }

    25% {}

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(10rem) translateY(-1rem);
        animation-play-state: paused;
    }
}

@keyframes quickContact {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    25% {}

    50% {
        opacity: 0;
    }

    100% {
        transform: translateX(15rem) translateY(-2rem);
        animation-play-state: paused;
    }
}



// .animated-animated-background {
//     position: absolute;
//     animation: fade-down 1s ease-in;
// }

// @keyframes fade-down {
//     0% {
//         transform: translateX(0);
//         opacity: 0;
//     }

//     25% {}

//     50% {
//         opacity: 1;
//     }

//     100% {
//         transform: translateX(10rem);
//         animation-play-state: paused;
//     }
// }