@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Indie+Flower&display=swap');

/* Fonts */

$baumans-font: 'Baumans', cursive;
$indie-flower:'Indie Flower', cursive;


$font-base: 10px;

/* Colors */

$bg-color: #131313f7;
$font-color: #f3f1d3;
$pink: #f004f040;

/* Breakpoints for RWD */

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

/* Animation */

$animation-duration-fast: 1.6s;
$animation-duration-normal: 1.3s;
$animation-duration-slow: 0.6s;