@use '../1_settings/' as *;

.myStorySection {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 100vw;
    height: 25rem;
    
    z-index: -1;
}

.titleMyStory {
    font-family: $indie-flower;
    color: white;
    font-size: 2.4em;
    margin-top: .5rem;
    margin-left: .5rem;
    padding: .5rem;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 92vw;
    margin-top: 1rem;
    padding: .3rem 1rem;
    color: white;
    font-size: .8rem;
    line-height: 1.6rem;
    letter-spacing: .1rem;
    // border: 2px solid rgb(217, 163, 233);
    border-radius: .8rem;
}

.social-media {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-self: center;
    width: 90vw;
    margin-top: 1.5rem;
}

.socialBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2.5rem;
    // border: 1px solid white;
    // background-color: rgb(38, 37, 38);
    box-shadow: #f004f045 1px -.5px 0px 1px, rgba(255, 255, 255, 0.793) -1px .5px 0px 1px;
    box-shadow: #f004f040 0px 1px 3px .5px, rgba(255, 255, 255, 0.793) 0px 1px 3px .5px, rgb(15, 3, 68) 3px 0px 5px .5px;

    border-radius: .5rem;
}

.social-media img {
    
    width: 2rem;
}

.linkedin img {
    width: 1.6rem;
}