.social-media {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-self: center;
    width: 90vw;
    height: 3rem;
    padding: .2rem;
    margin-top: 1.5rem;
}

.socialBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2.5rem;
    box-shadow: #f004f045 1px -.5px 0px 1px, rgba(255, 255, 255, 0.793) -1px .5px 0px 1px;
    box-shadow: #f004f040 0px 1px 3px .5px, rgba(255, 255, 255, 0.793) 0px 1px 3px .5px, rgb(15, 3, 68) 3px 0px 5px .5px;
    border-radius: .5rem;

    &:active {
        background-color: rgba(238, 174, 241, 0.584);

    }
}

.social-media img {
    width: 2rem;
}

.linkedin img {
    width: 1.6rem;
}